:root
{
    --title: rgba(251.0, 199.0, 162.0, 1);
    --text: rgba(255, 255, 255, 0.8);
    --box: rgba(76,56,68, 0.7);
    --button: rgba(60, 46, 54, 0.7);
    --button_hover: rgba(100, 86, 94, 0.2);
}

@font-face {
  font-family: fira_regular;
  src: url(/static/fonts/fira_regular.otf);
}

@font-face {
  font-family: fira_bold;
  src: url(/static/fonts/fira_bold.otf);
}

body
{
    background-image: linear-gradient(to right top, #1d1c2c, #282535, #342f3e, #3f3947, #4b4450, #5a505b, #695c67, #786872, #8f7980, #a68b8e, #bc9e9a, #d0b2a7);
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text);
    font-family: fira_regular;
    overflow: hidden;
}

h1 {
	font-family: fira_bold;
	color: var(--title);
	font-weight: bold;
	margin: auto;
	display: block;
	margin-top: 1vh;
	text-align: center;
	user-select: none;
}

.radar_button
{
    background-color: orange;
    fill: black;
}





#move_box_content {
	position: relative;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
}

#move_box_horizontal {
	width: fit-content;
	margin-left: 3vh;
	display: inline-block;
	margin-top:-2vh;
	transform: scale(0.9);
}

#move_box_horizontal_inner {
	height: 30vh;
	width: 30vh;
	position: relative;
}

.move_horizontal {
	position: absolute;
	top: -50%;
	left: 50%;
	width: 0;
	height: auto;
	transform-origin: bottom;
}

#move_forward
{
    transform: translate(-50%, 50%);
}

#move_back
{
	transform: translate(-50%, 50%) rotate(180deg);
}

#move_left
{
	transform: translate(-50%, 50%) rotate(270deg);
}

#move_right
{
	transform: translate(-50%, 50%) rotate(90deg);
}

.move_horizontal_svg {
	transform: translate(-50%, 0%);
	bottom: 2vh;
	position: relative;
	height: 260px;
	width: 260px;
}



#move_box_vertical
{
    width: 20%;
	margin-right: 3vh;
	float: right;
	display: inline-block;
	margin-top:-2vh;
	transform: scale(0.9);
}

#move_box_vertical_inner
{
	height: 30vh;
	width: 10vh;
	position: relative;
}

.move_vertical {
	position: absolute;
	top: -20%;
	left: 50%;
	width: 0;
	height: auto;
	transform-origin: bottom;
}

#move_up
{
    transform: translate(-50%, 50%);
}

#move_down
{
    transform: translate(-50%, 50%) rotate(180deg);
}

.move_vertical_svg {
	transform: translate(-50%, 0%);
	bottom: 1vh;
	position: relative;
	height: 180px;
	width: 100px;
}




.move_button
{
    fill: var(--button);
    stroke: black;
    stroke-width:2px;
    transform: scale(1.0);
    transition: all 0.1s;
    transform-origin: center;
}

.move_button:hover
{
    fill: var(--button_hover);
    transform: scale(1.05);
}

#webcam_content {
	width: 45vh;
	height: 45vh;
	display: block;
	border-radius: 100%;
	overflow: hidden;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#webcam {
	width: 95%;
	height: 95%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	position: relative;
	border: solid 0.2vh black;
	border-radius: 100%;
}